body {
    margin: 0px;
}
p{
    margin: 0px;
}
.container {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 0px auto;
    width: 555px;
}
.header {
    /*border: 1px;
    border-style: solid;
    border-color: black;*/
    height: 75px;
    width: 555px;
    display: inline-block;
}

.image {
    width: 555px;
    height: 200px;
    /*border: 1px;
    border-style: solid;
    border-color: black;*/
}
.icons {
    width: 555px;
    height: 50px;
    border: 1px;
    border-style: solid;
    border-color: black;
}
#nombre {
    height: 50px;
    margin: 0px;
    width: 20%;
    float: left;
    padding-top: 15px;
}
#dots {
    height: 60px;
    width: 10%;
    float: right;
    font-size: 40px;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
}
#html5  {
    width: 200px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    
}
#logo {
    float: left;
    border: 1px;
    border-style: solid;
    border-color: black;
    vertical-align: middle;
}
#icono {
    font-size: 40px;
    width: 10%;
    height: 75px;
    float: left;
    text-align: center;
    padding-top: 15px;
}

#html5 p {
    padding: 0px;
    margin: 0px;
}
.span {
    font-weight: bold;
    margin-top: 25px;
}
.image{
    height: 410px;
    width: 555px;
}
.iconos{
    height: 50px;
    width: 530px;
    font-size: 35px;
    padding: 15px;
    /*border: 1px;
    border-style: solid;
    border-color: black;*/
}
#tres{
    width: 150px;
    float: left;
    display: inline;
}
#solo{
    width: 40px;
    float: right;
}
.texts {
    width: 530px;
    padding: 10px;
}

.texts P {
    width: 530px;
}